<!DOCTYPE html>
<html>
	<head>
  	<title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Juan I. Di Nella">
    <meta name="description" content="Diseño emocional - Tesis Juan I. Di Nella">
  	<link rel='stylesheet' href='/stylesheets/style.css' />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>

	  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="javascripts/d3.min.js"></script>
  </head>
  <body>
     <div class="content">
       <div class="intro" id="intro">
         <h3 id="texth3">“I don't want to be at the mercy of my emotions. I want to use them, to enjoy them, and to dominate them.”</h3>
      </div>

      <div id="fb-root"></div>

       <div id="ButtonLogInFb" class="fb-login-button" autologoutlink="true" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" onlogin="checkLoginState();" data-scope="read_stream"></div>
      
      <div id="status"></div>
      <div id="mensajes"></div>
      <div id="datos"></div>
      <div>
      
      </div>
    </div>
  	<script src="javascripts/facebook.js"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>